.nav{
    background-color:forestgreen;
}


#art{
    background-color: antiquewhite;
 
    border:15px groove #73AD21;
    padding:10px;
}
#txt1{
    position:relative;
    font-size:18px;
    left: 50px;

}
#txt2{
    position:relative;
    font-size:18px;
    left: 100px;

}
#txt3{
    position:relative;
    font-size:18px;
    left: 150px;

}
#win{
 position:relative;
top:-30px;
    
}
#Wen{
    background-image: url("Images/Wen.JPG");
}